body {background-image:url ("myBackground(II).jpg");}

#me {float: right;}
#black {float: right;}
#dr {float: right;}

{border-radius: 8px;
}

#nav-table {width:1024px;}

#nav-td {width:200px; text-align:center;}
p {color:#A8534B;}

h1 {color:#A8534B;
    font-size

  
