body  {background-image: url ("myBackground(II").jpg;
             background-color:#FFC0CB
}

#me {float: center;
           width:10px;
          height:20px;
}
#black {float: right;
        width:10px;
          height:20px;
}
#dr {float: right;
        width:10px;
          height:20px;
}

{border-radius: 8px;
}

#nav-table {width:1024px;}

#nav-td {width:200px; text-align:center;}
p {color:#A8534B;}

h1 {color:#A8534B;}

  
