body  {background-image: url ("background.jpg");
             background-color:#FFC0CB
}

#me {float: center;
           width:200px;
          height:300px;
          margin-right:10px;
}
#black {float: center;
        width:200px;
          height:300px;
           margin-right:10px;
}
#dr {float: center;
        width:200px;
          height:300px;
           margin-right:10px;
}

{border-radius: 8px;
}

#nav-table {width:1024px;}

#nav-td {width:200px; text-align:center;}
p {color:#A8534B;
  font-size:30px;
}

h1 {color:#A8534B;}

  
